@using Vidly_Project.Models
@model Vidly_Project.ViewModels.CustomerIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<table class="table table-bordered table-hover ">
    <thead>
    <tr>
        <th>Customer</th>
    </tr>
    </thead>  
    <tbody>
    @{
        foreach (Customer customer in Model.Customers)
        {
        <tr><td>@Html.ActionLink(customer.Name,	"Details",	"Customers",	new	{	id	=	
                    customer.Id	},	null)	</td></tr>
        }
    }
    </tbody>

</table>

